.c-btn {
  background-color: $color-black;
  color: $color-white;
  font-size: $button-small-font-size;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 16px;
  border-radius: 2px;
  line-height: 1;
  &.c-btn--medium {
    padding: 12px 28px;
    font-size: $button-medium-font-size;
    line-height: $button-medium-line-height;
    letter-spacing: $button-medium-letter-spacing;
    font-weight: $font-weight-semi-bold;
    overflow: hidden;
  }
  &.c-btn--large {
    padding: 16px 32px;
    font-size: $button-medium-font-size;
    // line-height: $button-medium-line-height;
    letter-spacing: $button-medium-letter-spacing;
    font-weight: $font-weight-bold;
    min-height: 56px;
    max-height: 56px;
  }
}

.c-btn--full {
  display: block;
  width: 100%;
}

.c-btnIcon {
  width: 24px;
  height: 24px;
  path {
    stroke-width: 2;
  }
}

.c-btnPrimary {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: $color-navy;
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  letter-spacing: $button-small-letter-spacing;
  font-weight: $font-weight-medium;
  color: $color-white;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  min-width: 154px;
  &:hover {
    background-color: $color-blue;
    border-radius: 2px;
    &::after,
    &::before {
      box-shadow: none !important;
    }
  }
  &:active {
    background-color: $color-blue;
    border: 2px solid $color-navy;
  }
  &:focus {
    border: 3px solid $color-info-600;
  }
  &:disabled,
  &[disabled] {
    background: $color-gray-600;
    cursor: not-allowed;
  }
}

.c-btnSecondary {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: $color-white;
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  letter-spacing: $button-small-letter-spacing;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  color: $color-black;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
  &:active {
    background-color: $color-blue;
    color: $color-white;
    border: 2px solid $color-navy;
    .c-btnIcon path {
      stroke: $color-white;
    }
  }
  &:focus {
    border: 3px solid $color-info-600;
  }
  &:disabled,
  &[disabled] {
    background: $color-gray-600;
    cursor: not-allowed;
  }
}

.c-btnTertiary {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 2px solid $color-navy;
  background-color: transparent;
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  letter-spacing: $button-small-letter-spacing;
  font-weight: $font-weight-medium;
  color: $color-navy;
  gap: 5px;
  // transition: all 0.3s ease-in-out;
  min-height: 47px;
  margin: -1px 0px;
  &:hover {
    border: 3px solid $color-navy;
    margin: 0px -1px;
  }
  &:active {
    background-color: $color-blue;
    color: $color-white;
    border: 3px solid $color-navy;
    .c-btnIcon path {
      stroke: $color-white;
    }
  }
  &:focus {
    box-shadow: 0px 0px 1px 3px $color-info-600;
    border-radius: 2px;
  }
  &:disabled,
  &[disabled] {
    border: 2px solid $color-gray-600;
    color: $color-gray-600;
    cursor: not-allowed;
    .c-btnIcon path {
      stroke: $color-gray-600;
    }
  }
}

.c-btnTertiaryEmphasis {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 2px solid $color-white;
  background-color: transparent;
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  letter-spacing: $button-small-letter-spacing;
  font-weight: $font-weight-medium;
  color: $color-white;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  &:hover {
    border: 3px solid $color-white;
  }
  &:active {
    background-color: $color-blue;
    color: $color-white;
    border: 3px solid $color-navy;
  }
  &:focus {
    box-shadow: 0px 0px 1px 3px $color-info-600;
    border-radius: 2px;
  }
  &:disabled,
  &[disabled] {
    border: 2px solid $color-gray-600;
    color: $color-gray-600;
    cursor: not-allowed;
    .c-btnIcon path {
      stroke: $color-gray-600;
    }
  }
}

.c-btnQuaternary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.8px solid $color-navy;
  background-color: transparent;
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  letter-spacing: $button-small-letter-spacing;
  font-weight: $font-weight-medium;
  color: $color-navy;
  gap: 4px;
  &:hover {
    border-bottom: 3px solid $color-navy;
    margin-bottom: -2px;
  }
  &:active {
    color: $color-blue;
    border-bottom: 0;
    .c-btnIcon path {
      stroke: $color-blue;
    }
  }
  &:focus {
    box-shadow: 0px 0px 1px 3px $color-info-600;
    border-radius: 2px;
  }
  &:disabled,
  &[disabled] {
    border-bottom: 1.8px solid $color-gray-600;
    color: $color-gray-600;
    cursor: not-allowed;
    .c-btnIcon path {
      stroke: $color-gray-600;
    }
  }
}

.c-btnQuaternaryEmphasis {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $color-white;
  background-color: transparent;
  font-size: $button-small-font-size;
  line-height: $button-small-line-height;
  letter-spacing: $button-small-letter-spacing;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  color: $color-white;
  gap: 4px;
  &:hover {
    border-bottom: 3px solid $color-white;
  }
  &:active {
    color: $color-blue;
    border-bottom: 0;
    .c-btnIcon path {
      stroke: $color-blue;
    }
  }
  &:focus {
    box-shadow: 0px 0px 1px 3px $color-info-600;
    border-radius: 2px;
  }
  &:disabled,
  &[disabled] {
    border-bottom: 1.8px solid $color-gray-600;
    color: $color-gray-600;
    cursor: not-allowed;
    .c-btnIcon path {
      stroke: $color-gray-600;
    }
  }
}
