.c-mainBanner__subtitle {
  margin: 8px 0 0;
}

.c-mainBanner__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.c-mainBanner__description {
  font-weight: $font-weight-normal;
  margin: 0 0 16px 0;
  color: $color-gray-800;
  @include media-desktop-up {
    margin: 0 0 8px 0;
  }
}

.c-mainBanner__title {
  margin: 4px 0 4px;
  @include media-desktop-up {
    margin: 8px 0 0;
  }
}
