.c-proCarousel {
  overflow: hidden;
  .o-pageWidth {
    padding: 0px 0px 0px 20px;
    @include media-desktop-up {
      padding: 0px 48px 0px 48px;
    }
  }
  .c-swiperScrollbar {
    max-width: calc(100% - 2px);
    @include media-desktop-up {
      max-width: calc(100% - 170px);
    }
  }
}

.c-proCarousel__heading {
  margin-top: 0;
  margin-bottom: 16px;
  // font-size: $h2-font-size-mobile;
  @include media-desktop-up {
    margin-bottom: 24px;
    .card-wrapper {
      max-width: 318px;
    }
  }
}

// .c-proCarousel__slider-wrapper {
//   max-width: 1337px;
//   width: 100%;
// }

// .search {
//   .c-proCarousel__slider-wrapper {
//     max-width: 1368px;
//   }
// }

.c-proCarousel__slider.swiper-horizontal {
  overflow: visible;
}

.c-proCarousel__slider .swiper-wrapper {
  padding-bottom: 16px;
  @include media-desktop-up {
    padding-bottom: 24px;
  }
}

.c-proCarousel__wrapper {
  display: flex;
  align-items: stretch;
  .c-proCarousel__products {
    height: auto;
  }
  @include media-desktop-up {
    .c-proCard {
      max-width: 318px;
    }
  }
}

.c-proCarousel__products {
  max-width: calc(100% / 1.5 - 8px);
  @include media-tablet-up {
    max-width: calc(100% / 2.05 - 12px);
  }
  @include media-desktop-up {
    max-width: calc(100% / 3.075 - 38px);
  }
  @include media-desktop-large-up {
    max-width: calc(100% / 4.075 - 10px);
  }
}

.search,
.index {
  .c-proCarousel__products {
    @include media-tablet-up {
      min-width: 306px;
      max-width: calc(100% / 2.05 - 12px);
    }
    @include media-desktop-up {
      max-width: calc(100% / 4 - 18px);
    }
  }
  .swiper,
  swiper-container,
  .swiper-wrapper {
    z-index: 0;
  }
}

.c-catCard__heading {
  margin-top: 0;
  margin-bottom: 8px;
  color: $color-white;
}

.c-catCard__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  padding: 16px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease-in;
  border-radius: 2px;
  backface-visibility: hidden;
  @include media-desktop-up {
    padding: 24px;
    height: calc(100% - 48px);
    width: calc(100% - 48px);
  }
}

.c-catCard:hover .c-catCard__content {
  background: rgba(0, 0, 0, 0.15);
}

.c-catCard__link {
  color: $color-white;
  display: inline-block;
  padding-right: 15px;
  max-width: fit-content;
  max-width: -moz-fit-content;
  transition: all 0.4s ease-in;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10' viewBox='0 0 6 10' fill='none' style='&%2310;'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.40901 4.99992L0.0454102 1.63632L1.3182 0.363525L5.9546 4.99992L1.3182 9.63632L0.0454102 8.36353L3.40901 4.99992Z' fill='white'/%3E%3C/svg%3E");
}

.c-catCard__link:hover {
  padding-right: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.7269 11.9997L14.3633 8.63607L15.6361 7.36328L20.2725 11.9997L15.6361 16.6361L14.3633 15.3633L17.7269 11.9997Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 12.8996H6V11.0996H18V12.8996Z' fill='white'/%3E%3C/svg%3E");
}

.c-catCard__link::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.c-proCard--hover {
  .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform 500ms ease;
    transform: scale(1.03);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
