media-slider-component {
  .c-prodMediaSlider {
    margin-top: 16px;
    margin-left: -20px;
    margin-right: -20px;

    .c-swiperScrollbar {
      margin-top: 16px;
    }

    .c-prodGallery__sliderControls {
      padding: 0px 20px;
    }
  }
}
