$color-white: #FFF;
$color-black: #000;
$color-navy: #0A2440;
$color-red: #C8102E;
$color-blue: #41658C;
$color-gray-200: #F2F2F2;
$color-gray-300: #EAE9E9;
$color-gray-400: #CACACA;
$color-gray-600: #767676;
$color-gray-800: #545454;
$color-positive-200: #D4EDDA;
$color-positive-600: #91B499;
$color-positive-800: #008121;
$color-negative-200: #F8D7DA;
$color-negative-600: #E08A92;
$color-negative-800: #C8102E;
$color-warning-200: #FFF3CD;
$color-warning-600: #D7C692;
$color-warning-800: #9C6E13;
$color-info-200: #DBECF3;
$color-info-600: #8497B4;
$color-info-800: #41658C;
