// H1
$h1-font-size-desktop: 52px;
$h1-font-size-tablet: 40px;
$h1-font-size-mobile: 36px;
$h1-line-height: 110%;
$h1-letter-spacing-desktop: -1.04px;
$h1-letter-spacing-tablet: 0.2px;

// H2
$h2-font-size-desktop: 48px;
$h2-font-size-tablet: 36px;
$h2-font-size-mobile: 32px;
$h2-line-height: 100%;
$h2-letter-spacing-desktop: -0.96px;
$h2-letter-spacing-tablet: 0.18px;

// H3
$h3-font-size-desktop: 32px;
$h3-font-size-tablet: 28px;
$h3-font-size-mobile: 24px;
$h3-line-height: 100%;
$h3-letter-spacing-desktop: -0.32px;
$h3-letter-spacing-tablet: 0.56px;

// H4
$h4-font-size-desktop: 24px;
$h4-font-size-tablet: 22px;
$h4-font-size-mobile: 18px;
$h4-line-height: 133%;
$h4-letter-spacing-desktop: normal;
$h4-letter-spacing-tablet: 0.44px;

// body
$b1-font-size: 16px;
$b1-line-height: 137%;

// body 2
$b2-font-size: 14px;
$b2-line-height: 143%;

// body 3
$b3-font-size: 12px;
$b3-line-height: 133%;

// display
$d1-font-size-desktop: 80px;
$d1-font-size-tablet: 56px;
$d1-font-size-mobile: 40px;
$d1-line-height-desktop: 90%;
$d1-line-height-tablet: 92%;
$d1-line-height-mobile: 100%;
$d1-letter-spacing-desktop: -1.6px;
$d1-letter-spacing-tablet: -0.6px;
$d1-letter-spacing-mobile: -0.4px;

// subtitle
$s1-font-size-desktop: 16px;
$s1-font-size-mobile: 14px;
$s1-line-height-desktop: 150%;
$s1-line-height-mobile: 171%;
$s1-letter-spacing-desktop: 1.6px;
$s1-letter-spacing-mobile: 1.4px;

// links
$a1-font-size-desktop: 14px;
$a1-line-height-desktop: 172%;
$a1-letter-spacing-desktop: 0.28px;
$a2-font-size-desktop: 13px;
$a2-line-height-desktop: 184%;
$a2-letter-spacing-desktop: 0.26px;

// navs
$n1-font-size-desktop: 14px;
$n1-line-height-desktop: 172%;
$n2-font-size-desktop: 14px;
$n2-line-height-desktop: 171%;

// forms
$f1-font-size-desktop: 16px;
$f1-line-height-desktop: 125%;
$f1-letter-spacing-desktop: 0.16px;
$f2-font-size-desktop: 14px;
$f2-line-height-desktop: 150%;
$f2-letter-spacing-desktop: 0.28px;
$f3-font-size-desktop: 11px;
$f3-line-height-desktop: 150%;
$f3-letter-spacing-desktop: 0.33px;

// button
$button-small-font-size: 13px;
$button-small-line-height: 185%;
$button-small-letter-spacing: 0.26px;
$button-medium-font-size: 14px;
$button-medium-line-height: 172%;
$button-medium-letter-spacing: 0.28px;

$letter-spacing: normal;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-ex-bold: 900;
$font-style-italic: italic;
$font-family: neue-haas-grotesk-display, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
